name: Create and publish a package
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v2
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com"
          # Defaults to the user or organization that owns the workflow file
          scope: "@base-pojokan"
      - name: Update Git Config Name and Email
        run: |
          git config --global user.name "${{ secrets.GIT_DEPLOY_NAME }}"
          git config --global user.email "${{ secrets.GIT_DEPLOY_EMAIL }}"
      - name: Install Lerna
        run: npm i -g lerna
      - name: Install Package
        run: npm ci
      - name: Generate Library From Typescripts
        run: lerna run tsc
      - name: Publish Package by Lerna
        run: lerna publish minor --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
